@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@custom-variant dark (&:where(.dark, .dark *));

@source "../views";

@theme {
    --color-accent: var(--color-green-600);
    --color-accent-content: var(--color-green-600);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-green-600);
        --color-accent-content: var(--color-green-400);
        --color-accent-foreground: var(--color-white);
    }
}